$customBlue: #34AADC ;
$blackGray:#2B2B2B;
$customGreen:#94C748;
$lightGray:#ABABAB;

$whiteBlue:#fcfeff;
$darkBlue:#003462;

$rematMainColor:#E5C211;
$customGreenColor:#63BE6A;
$customOrangeColor:#E87D31;
$whiteColor:#FFFFFF;
$whiteBlue:#f2f6f9;
$lightBlue:#4789C8;
$veryLight:#F7FAFC;

$sstFont:SST Arabic;
$outfitFont:Outfit;
$rematMainFontFamily:NotoSans;