body {
  background-color: whitesmoke;
  width: 100vp;
  padding-top: 10vh;
}

/* Add Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    height: 50px;
  }

  body {
    padding-top: 50px;
  }
}